body {
    background-color: rgb(36, 36, 36);
}

#root {
    max-width: 1280px;
    margin: -40rem auto 0;
    padding: 2rem;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
}

.searchingBar {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 16px;
    border: none;
    display: block;
    color: rgb(36, 36, 36);
    width: auto;
    height: 20px;
    font-size: 20px;


    &:focus {
        outline: none;
        color: #788492;
        background-color: lighten(#e3edf7, 3%);
    }

}


.searchingButton > svg {
    font-size: 50px; /* Imposta la dimensione desiderata per l'icona */
}
